{% extends "base.html" %}

{% block content %}
<h1>About This Project</h1>
<p>This Crypto Price Dashboard was built using Python Flask, pulling real-time data from the CoinGecko API</p>

<ul>
    <li>Backend: Python Flask</li>
    <li>Frontend: HTML, CSS (Custom styling)</li>
    <li>Data Source: CoinGecko API</li>
    <li>Purpose: Practice project showcasing web scraping, API integration, and Flask web development skills</li>
</ul>

<p>Feel free to contact me if you'd like a custom Dashboard or web application built for your project.</p>
{% endblock %}
