<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoTrack | Live Prices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
    <nav>
        <div class="logo-container">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="CryptoTrack Logo">
        </div>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
